@import 'reset';
@import 'utils';

body,
html {
  width: 100%;
  height: 100%;
  font-family: -apple-system-font, 'Helvetica Neue', Tahoma, 'PingFang SC', 'lantinghei sc',
    'Microsoft Yahei', sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

.auto-tools {
  margin-bottom: 15px;
  .ant-btn {
    margin-right: 10px;
  }
}

.ant-select-selection-selected-value {
  line-height: 30px;
}

.ant-pagination {
  margin-right: 30px !important;
}

.ant-table-row td {
  vertical-align: middle;
}

.ant-table-thead > tr > th {
  padding: 16px 5px;
}

.ant-select-selection-selected-value {
  line-height: 30px;
}

.ant-layout-sider-collapsed {
  width: 80px !important;
}
