.auto-wrapper {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}

.auto-mainbody {
  padding: 24px 24px 24px 24px;
  background: #f2f3f9;
  .ant-layout {
    background: #fff;
    padding: 24px;
    border-radius: 6px;
  }
}

.auto-breadcrumb {
  padding: 15px 0 15px 30px;
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
}
